<a href="https://colab.research.google.com/github/Sangeethadonakanti/fmml2021/blob/main/05_Flow_control_statement_For_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Flow control using for-loop
#### 'For' statement is used for iterating over an arithmetic progression of numbers

In [2]:
# range
for i in range(7, 14, 5):
  print (i, end=" ")

7 12

#### 'For' statement is also used for iterating over the items of any sequence (a list or a string), in the order that they appear in the sequence.

In [4]:
# list
my_list = [11, 22, 33, 44]
for each_item in my_list:
  print (each_item, end=" ")

11 22 33 44

In [5]:
my_list = ['a', 'e', 'i', 'o', 'u']

In [7]:
test_char = input("Enter Character: ")

Enter Character: a

In [8]:
test_result = 'consonant'
for each_char in my_list:
  if (each_char == test_char.lower()):
    test_result = 'vowel'
    break

In [9]:
print (test_result)

vowel

In [12]:
# list comprehension
# create a list of all odd numbers from 1 to 20
my_list = [number for number in range(1,30,3)]

In [11]:
my_list

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [13]:
# list comprehension - another approach using "if" condition
# create a list of all odd numbers from 1 to 20
my_list = [number for number in range(1,20) if (number % 2 == 1)]

In [14]:
my_list

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

#### Exercise: Given a list of integers, write a for-loop to create a list of its squares.

In [16]:
# for instance if input list is [1, 2, 3, 4],  you need to create a list [1, 4, 9, 16]
def printvalues():
  l = list()
  for i in range(1,5):
    l.append(i**2)
  print(l)

printvalues()

[1, 4, 9, 16]

Reference:
[Python Documentation on Control Statements](https://docs.python.org/3/tutorial/controlflow.html)